<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userExample" class="com.clvrsn.app41.entities.User">
		<property name="id" value="0" />
		<property name="name" value="William Shakespeare" />
		<property name="email" value="william.shakespeare@bol.com.br" />
	</bean>

	<bean id="userDAOImpl" class="com.clvrsn.app41.dao.impl.UserDAOImpl" >
		<property name="userExample" ref="userExample" />
	</bean>

</beans>

